.container > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    grid-auto-flow: dense;
}

.horizontal {
    grid-column: span 2;
}

.vertical {
    grid-row: span 2;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
}


/* Neteflix way for responsive images */
/* .wrapper {
    position: relative;
    padding-top: 56.25%; /* 16:9 Aspect Ratio 
 }

img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}  */